.itemDetailContainer{
    padding: 1rem 1rem;
    background: linear-gradient(wheat,white); 
}

.itemDetail{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: lightgray;
    max-width: fit-content;
    margin: 2rem;
    border-radius: 1rem;
    margin: auto;
    padding: 2rem;
}

@media (max-width: 768px){
    .itemDetail{
        flex-direction: column;
    }
}

.itemImage{
    margin:1rem;
    border: 0.25rem solid lightslategray;
}

.itemName{
    font-size: 1.25rem;
}

.itemCategory{
    text-align: left;
    color: white;
    background-color: darkblue;
    max-width: fit-content;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.itemPrice{
    font-size: 1.5rem;
    padding-left: 0;
    margin: 0.5rem;
    text-align: left;
}

.itemDescription{
    font-size: 1rem;
    text-align: left;
    margin-left: 0.5rem;
}