.cartWidget {
    width: 2rem;
}

.cartWidget:hover {
    scale: 1.1;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    opacity: 50%;
}

.cartIcon {
    height: 48px;
}

.cartIconCount {
    position: relative;
    left: 30px;
    top: -50px;
    background-color: red;
    border-radius: 2rem;
    width: 1.4rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.noShow {
    display: none;
}