.cartWidget{
    background-color: lightgray;
    margin: 1rem;
    padding: 0.25rem;
    border: 0.2rem solid darkblue;
    border-radius: 0.5rem;
    align-self: center;
    position: absolute;
    top: 7.2rem;
    right: 0;
    width: 3rem;
    height: 3rem;
}

.cartWidget:hover{
    cursor: pointer;
    background-color: gray;
    transition: ease-in-out 0.3s;
}

.cartIcon{
    width: 100%;
}