.cartWidget{
    background-color: lightgray;
    padding: 0.25rem 0.5rem;
    border: 0.2rem solid darkblue;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2.5rem;
}

.cartWidget:hover{
    cursor: pointer;
}

.cartIcon{
    width: 100%;
}

.cartIconCount{
    position: relative;
    left: 30px;
    top: -50px;
    background-color: red;
    border-radius: 2rem;
    width: 1.4rem;
    color: white;
    text-align: center;
    font-weight: bold;

}

.noShow{
    display: none;
}