.itemList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%,1fr));
    gap: .25rem;
    background: linear-gradient(rgb(255, 197, 197),whitesmoke);
}

.item{
    border: 0.25rem solid darkred;
    margin: 1rem;
    background-color: lightsalmon;
    border-radius: 1rem;
}

.item:hover{
    cursor: pointer;
    background-color: goldenrod;
    transition: ease-in-out 0.3s;
    border: 0.25rem solid goldenrod;
}