.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    background-color: lightgray;
    border-radius: 1rem;
}

.itemImgList {
    margin: 2rem;
    border: .25rem solid lightslategray;
}

.itemCategoryList {
    text-align: left;
    color: white;
    background-color: darkblue;
    max-width: fit-content;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.itemNameList {
    font-weight: bold;
    text-align: center;
    margin: 0 0.5rem;
}

.itemPriceList {
    font-size: 1rem;
}

.itemStockList {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
}

.itemButtonList {
    margin: 1rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: lightgray;
    width: auto;
    height: 2rem;
    border: 0.25rem solid lightgray;
    border-radius: 0.5rem;
}

.itemButtonList:hover {
    cursor: pointer;
    background-color: goldenrod;
    transition: ease-in-out 0.3s;
    border-color: goldenrod;
}