.item{
    margin: 1rem;
    background-color: lightsalmon;
    border-radius: 1rem;
    width: auto;
}

.itemImg{
    margin: 2rem;
    width: auto;
    border: .25rem solid black;
}

.itemName{
    font-weight: bold;
}

.itemButton{
    margin: 1rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: lightgray;
    width: 50%;
    height: 2rem;
    border: 0.25rem solid lightgray;
    border-radius: 0.5rem;
}

.itemButton:hover{
    cursor: pointer;
    background-color: goldenrod;
    transition: ease-in-out 0.3s;
    border-color: goldenrod;
}