.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    background-color: #131d52;
}

.item:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
    transition: ease-in-out 0.5s;
}

.itemImgList {
    margin: 2rem;
    border: .25rem solid #f1f5f6;
    border-radius: 1.25rem;
}

.itemCategoryList {
    text-align: left;
    background-color: #28d2c7;
    max-width: fit-content;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.itemNameList {
    font-weight: bold;
    text-align: center;
    margin: 0 0.5rem;
    background-color: #131d52;
    color: #f1f5f6;
}

.itemPriceList {
    font-size: 1.5rem;
    background-color: #131d52;
    color: #f1f5f6;
}

.itemStockList {
    margin: 0.5rem 0 1rem 0;
    font-size: 1rem;
    background-color: #131d52;
    color: #f1f5f6;
}
