    .checkoutContainer {
        display: grid;
        place-content: center;
        width: 100vw;
        height: 75vh;
    }
    
    .formGroup {
        margin: 1.5rem 0 1.5rem 0;
    }
    
    .formLabel {
        font-weight: bold;
        font-size: 1.25rem;
    }
    
    .formInput {
      width: 25vw;
      height: 25px;
    }
    
    .orderButton {
        background-color: green;
        color: white;
        font-size: 1.2rem;
        width: 25vw;
        height: 3rem;
        align-self: center;
    }
    
    .orderButton:hover {
        cursor: pointer;
    }