    .checkoutContainer {
        display: grid;
        place-content: center;
        width: 100vw;
        height: 75vh;
        margin-top: 2rem;
    }
    
    .formGroup {
        margin: 1.5rem 0 1.5rem 0;
    }
    
    .formLabel {
        font-weight: bold;
        font-size: 1.25rem;
        color: #131d52;
    }
    
    .formInput {
      width: 25vw;
      height: 35px;
      margin-top: 1rem;
      border-radius: 0.5rem;
    }
    
    .orderButton {
        background-color: #28d2c7;
        color: white;
        font-size: 1.2rem;
        width: 25vw;
        height: 3rem;
        align-self: center;
    }
    
    .orderButton:hover {
        cursor: pointer;
    }