.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.topNav{
    font-weight: bold;
    color: #131d52;
    display: flex;
}

.title{
    font-weight: bold;
    color: #131d52;
    text-align: center;
}

.buttons{
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
}

.navList{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navList li{
    color: #f1f5f6;
}

.navButton{
    background-color: #131d52;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.75rem 0.75rem;
    margin: 0.75rem 0.75rem 1rem;
    border-radius: 0.5rem;
}

.navButton:hover{
    cursor: pointer;
    height: 80%;
    border-bottom: 0.25rem solid #28d2c7;
    border-radius: 0;
    background-color: #f1f5f6;
    color: #131d52;
    transition: ease-in-out 0.5s;
}