.itemCount{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 1rem;
}

button {
    /* Variables */
    --button_radius: 0.5rem;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 4rem;
}
  
.itemCountButton {
    display: block;
    box-sizing: border-box;
    border: 0.1rem solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0 0.75rem;
    background: var(--button_color);
    color: var(--button_outline_color);
}


.itemCountInput{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.itemCountButton:hover{
    cursor: pointer;
}

.itemAddButton{
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    padding: 0.75rem;
    background-color: darkblue;
    border-radius: 0.5rem;
}

.itemAddButton:hover{
    cursor: pointer;
}

.itemEndButton{
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    padding: 0.75rem;
    background-color: darkgreen;
    border-radius: 0.5rem;
}

.itemStock{
    font-size: 0.75rem;
    text-align: right;
    padding: 0;
    margin-right: 1rem;
}