.itemCount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15rem;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 1rem;
}

button {
    /* Variables */
    --button_radius: 0.5rem;
    --button_color: #e8e8e8;
    --button_outline_color: #131d52;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 2.5rem;
}
  
.itemCountButton {
    display: block;
    box-sizing: border-box;
    border: 0.1rem solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0 0.2rem;
    background: var(--button_color);
    color: var(--button_outline_color);
}


.itemCountInput{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.itemCountButton:hover{
    cursor: pointer;
}

.itemCountButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemAddButton{
    width: 80%;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    padding: 0.75rem;
    background-color: #131d52;
    border-radius: 0.5rem;
}

.itemAddButton:hover{
    cursor: pointer;
}

.itemRemoveButton:hover{
    cursor: pointer;
}

.itemEndButton{
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    padding: 0.75rem;
    background-color: #28d2c7;
    border-radius: 0.5rem;
}

.itemEndButton:hover{
    cursor: pointer;
}

.itemStock{
    font-size: 0.75rem;
    text-align: left;
}